<%include partials/header %>
    <a href="http://www.cs.sonoma.edu/~haderman/">CS355 Lab8</a>
    <br />
    <a href="helloworld.html">Relative Link Example </a>
    <br />
    <a href="/templatelink" > Template Link Example </a></a>
    <br />
    <a href="/accounts/?account_id=1">Account By ID</a>
    <br />
    <a href="/accounts/all">All Accounts</a>
    <br />
    <a href="/schools/?school_id=1"> School By ID</a>
    <br/>
    <a href="/schools/all"> All School</a>
    <br/>
    <a href="/companygpaviews/all"> CompanyGpaView </a>
    <br/>
    <a href="/accountjobviews/all"> AccountJobView </a>
<% include partials/footer%>